snippet frz
# frozen_string_literal: true

$0
endsnippet

snippet dbg
puts '*'*50
puts "DBG: #{$0}"
puts '*'*50
endsnippet

snippet bp
binding.pry
endsnippet

snippet rspec
require 'rspec'

RSpec.describe $1, type: :$2 do
  $0
end
endsnippet

snippet dsc
describe '$1' do
  it '$2' do
    $0
  end
end
endsnippet
