snippet dbg
console.log('*************************************');
console.log('*************************************');
console.log('*************************************');
console.log('Here I am, rock you like a hurricane');
endsnippet
